/* roboto-100 - latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v30-latin_latin-ext-100.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-100.woff') format('woff'); 
  }
  
  /* roboto-100italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/roboto-v30-latin_latin-ext-100italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-100italic.woff') format('woff'); 
  }
  
  /* roboto-300 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin_latin-ext-300.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-300.woff') format('woff'); 
  }
  
  /* roboto-300italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin_latin-ext-300italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-300italic.woff') format('woff'); 
  }
  
  /* roboto-regular - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin_latin-ext-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-regular.woff') format('woff'); 
  }
  
  /* roboto-italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin_latin-ext-italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-italic.woff') format('woff'); 
  }
  
  /* roboto-500 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin_latin-ext-500.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-500.woff') format('woff'); 
  }
  
  /* roboto-500italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin_latin-ext-500italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-500italic.woff') format('woff'); 
  }
  
  /* roboto-700 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin_latin-ext-700.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-700.woff') format('woff'); 
  }
  
  /* roboto-700italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin_latin-ext-700italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-700italic.woff') format('woff'); 
  }
  
  /* roboto-900 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin_latin-ext-900.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-900.woff') format('woff'); 
  }
  
  /* roboto-900italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin_latin-ext-900italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin_latin-ext-900italic.woff') format('woff'); 
  }

  /* roboto-serif-100 - latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-100.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-100.woff') format('woff'); 
  }
  
  /* roboto-serif-100italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-100italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-100italic.woff') format('woff'); 
  }
  
  /* roboto-serif-200 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-200.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-200.woff') format('woff'); 
  }
  
  /* roboto-serif-200italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-200italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-200italic.woff') format('woff'); 
  }
  
  /* roboto-serif-300 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-300.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-300.woff') format('woff'); 
  }
  
  /* roboto-serif-300italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-300italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-300italic.woff') format('woff'); 
  }
  
  /* roboto-serif-regular - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-regular.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-regular.woff') format('woff'); 
  }
  
  /* roboto-serif-italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-italic.woff') format('woff'); 
  }
  
  /* roboto-serif-500 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-500.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-500.woff') format('woff'); 
  }
  
  /* roboto-serif-500italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-500italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-500italic.woff') format('woff'); 
  }
  
  /* roboto-serif-600 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-600.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-600.woff') format('woff'); 
  }
  
  /* roboto-serif-600italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-600italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-600italic.woff') format('woff'); 
  }
  
  /* roboto-serif-700 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-700.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-700.woff') format('woff'); 
  }
  
  /* roboto-serif-700italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-700italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-700italic.woff') format('woff'); 
  }
  
  /* roboto-serif-800 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-800.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-800.woff') format('woff'); 
  }
  
  /* roboto-serif-800italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-800italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-800italic.woff') format('woff'); 
  }
  
  /* roboto-serif-900 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-900.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-900.woff') format('woff'); 
  }
  
  /* roboto-serif-900italic - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Serif';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto-serif-v13-latin_latin-ext-900italic.woff2') format('woff2'), 
         url('../fonts/roboto-serif-v13-latin_latin-ext-900italic.woff') format('woff'); 
  }
  /* roboto-condensed-regular - latin_latin-ext */
  @font-face {
        font-display: swap; 
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/roboto-condensed-v25-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
        src: url('../fonts/roboto-condensed-v25-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/roboto-condensed-v25-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/roboto-condensed-v25-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
            url('../fonts/roboto-condensed-v25-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/roboto-condensed-v25-latin_latin-ext-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
    }

  /* roboto-flex-regular - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-flex-v9-latin_latin-ext-regular.woff2') format('woff2'), 
         url('../fonts/roboto-flex-v9-latin_latin-ext-regular.woff') format('woff'); 
  }

  /* roboto-mono-regular - latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-mono-v22-latin_latin-ext-regular.woff2') format('woff2'), 
         url('../fonts/roboto-mono-v22-latin_latin-ext-regular.woff') format('woff'); 
  }

  /* roboto-slab-regular - latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v24-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-slab-v24-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-slab-v24-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab-v24-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-slab-v24-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-slab-v24-latin_latin-ext-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  
  /* baloo-2-regular - latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/baloo-2-v16-latin_latin-ext-regular.woff2') format('woff2'), 
         url('../fonts/baloo-2-v16-latin_latin-ext-regular.woff') format('woff'); 
  }
  
  /* baloo-2-500 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/baloo-2-v16-latin_latin-ext-500.woff2') format('woff2'), 
         url('../fonts/baloo-2-v16-latin_latin-ext-500.woff') format('woff'); 
  }
  
  /* baloo-2-600 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/baloo-2-v16-latin_latin-ext-600.woff2') format('woff2'), 
         url('../fonts/baloo-2-v16-latin_latin-ext-600.woff') format('woff'); 
  }
  
  /* baloo-2-700 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/baloo-2-v16-latin_latin-ext-700.woff2') format('woff2'), 
         url('../fonts/baloo-2-v16-latin_latin-ext-700.woff') format('woff'); 
  }
  
  /* baloo-2-800 - latin_latin-ext */
  @font-face {
    font-display: swap; 
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/baloo-2-v16-latin_latin-ext-800.woff2') format('woff2'), 
         url('../fonts/baloo-2-v16-latin_latin-ext-800.woff') format('woff'); 
  }
  
  /* chango-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Chango';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/chango-v21-latin_latin-ext-regular.woff2') format('woff2'), 
         url('../fonts/chango-v21-latin_latin-ext-regular.woff') format('woff'); 
  }
  
  /* material-icons-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons-v140-latin-regular.woff2') format('woff2'), 
         url('../fonts/material-icons-v140-latin-regular.woff') format('woff'); 
  }
  
  /* material-icons-outlined-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons-outlined-v109-latin-regular.woff2') format('woff2'), 
         url('../fonts/material-icons-outlined-v109-latin-regular.woff') format('woff'); 
  }

  /* material-icons-two-tone-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons-two-tone-v112-latin-regular.woff2') format('woff2'), 
         url('../fonts/material-icons-two-tone-v112-latin-regular.woff') format('woff'); 
  }
  