kustomize
profile-ui
**/node_modules
**/.bin
**/.packages
.git
**/www
**/dist
**/loader
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
testbin/*
Dockerfile.cross
*.test
*.out
!vendor/**/zz_generated.*
.idea
*.swp
*.swo
*~
.DS_Store
.AppleDouble
.LSOverride