controller/www/host.config.json
controller/www/index.html
controller/www/manifest.json
controller/www/assets/icon/favicon.ico
controller/www/assets/icon/icon.png
controller/www/modules/app-globals-9393530e.js
controller/www/modules/app-home.entry.js
controller/www/modules/app-profile.entry.js
controller/www/modules/app-root.entry.js
controller/www/modules/app.css
controller/www/modules/app.esm.js
controller/www/modules/app.js
controller/www/modules/css-shim-f0027935.js
controller/www/modules/dom-db0073f0.js
controller/www/modules/index-4ebf9c9c.js
controller/www/modules/index-6d3aeed4.js
controller/www/modules/index.esm.js
controller/www/modules/shadow-css-c1fdfa9f.js
