:host {
  padding: 1rem;
  display: flex
}

.card {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0.3rem
}
.card-wrapper {
  padding: 16px;
  width: 20rem;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.text {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .6;
}

.card-icon {
  width: 44px;
  height: 44px;
  margin-right: 20px;
  margin-bottom: 16px;
  float: left;
  border-radius: 50%;
  background-color: #eee;
}

.actions {
  display: flex;
  flex-flow: row-reverse;
  padding-top: 2rem;
}

.fill-1 {
  flex: 1;
}