:host {
  --mdc-theme-primary: 	var(--ufe-theme-primary,#1976d2);
  --mdc-theme-secondary: var(--ufe-theme-secondary, #d3e057);
  --mdc-theme-surface: var(--ufe-theme-surface, #fff);
  --mdc-theme-background: var(--ufe-theme-background, #fafafa);
  --mdc-drawer-width: var(--ufe-drawer-width, 256px);
  --mdc-top-app-bar-fixed-box-shadow: var(--ufe-top-app-bar-fixed-box-shadow, 0 2px 4px rgba(0, 0, 0, 0.5));
}

:host {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: var(---mdc-theme-background);
}

mwc-drawer[open] {
  --mdc-top-app-bar-width: calc(100% - var(--mdc-drawer-width));
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

app-title {
  font-weight: 900;
}

main {
  height: calc(100vh - 64px);
  overflow: auto;
}

mwc-drawer::shadow div.mdc-drawer-app-content {
  overflow: hidden !important;
}

mwc-top-app-bar-fixed { 
  --mdc-top-app-bar-fixed-box-shadow: var(--ufe-top-app-bar-fixed-box-shadow, 0 2px 4px rgba(0, 0, 0, 0.5));
}

mwc-icon-button {
  --mdc-icon-font: 'Material Icons Outlined';
}

.application-area{ height: 100%;}

.error-no-modules { margin: 1rem; }

.error-no-modules h1 { color: black}

ufe-context[context="app-bar-tools"] {
  display: flex;
  gap: 8px;
  margin-left: 8px;
  align-items: center;
}